body{
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
    background-color: #f1f1f1;
}
.text-muted{
    color: #BCBBBB;
}
.text-thin{
    font-weight: 100;
}
.title-super{
    font-size: 60px;
}
.title-logo{
    margin-top: 20px;
}
#logo{
    border-radius:50%;
    max-width:300px;
    min-width: 100px;
}

#me{
    border-radius:1%;
}
.img-featured:hover {
   -webkit-transform: scaleY(-1);
    transform: scaleY(1);
    border-radius:3%;
}


